.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: #efefef;
}

.app__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 20px;
}

.app__column:first-child {
  border-right: 2px solid #b0b0b0;
}

.app__other-player-area {

}

.app__game-table,
.app__my-player-area {
  min-width: 100%;
}

.app__my-player-area {
  display: flex;
  flex-wrap: wrap;
}

.app__player-deck {
  min-width: 20%;
}

.app__player-hand {
  min-width: 80%;
}

.app__player-table-cards {
  width: 100%;
}
