.game-table {
  display: flex;
}

.game-table__stack {
  width: 154px;
  height: 214px;
  margin-right: 10px;
}

.game-table__stack--empty {
  display: inline-block;
  box-sizing: border-box;
  border: 2px dashed #b0b0b0;
  border-radius: 10px;
}



