.player-table-cards {
  display: flex;
}

.player-table-cards__stack {
  margin-right: 10px;
}

.player-table-cards__stack-cards {
  position: relative;
  width: 124px;
  height: 220px;
  padding: 10px;
  overflow: hidden;
}

